body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
	background-color: #fb565a;
	display: block;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
	border-radius: 2px;
	font-weight: 500;
}

.button:hover {
	background-color: #e74246;
}

.button:focus {
	background-color: #d7373b;
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.button-features-green {
	background-color: #00ca74;
}

.button-features-green:hover {
	background-color: #00bc6c;
}

.button-features-green:focus {
	background-color: #00aa62;
}

.button-features-yellow {
	background-color: #efc84a;
}

.button-features-yellow:hover {
	background-color: #eab534;
}

.button-features-yellow:focus {
	background-color: #e5a722;
}

.button-submit {
	font: inherit;
	font-weight: 500;
	border: 0;
	color: #000;
	background-color: #eee;
	width: 260px;
}

.button-submit:hover {
	background-color: #dfdfdf;
}

.button-submit:focus {
	background-color: #d5d5d5;
	outline: 0;
}

.button-slider {
	width: 240px;
}

.button-features {
	width: 160px;
}

.button-catalog {
	width: 200px;
}

.button-feedback {
	width: 219px;
}

.main {
  margin-bottom: 80px;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.main-header {
	background-color: #eeeeee;
  padding-top: 50px;
}

.main-header .container {
	display: flex;
  align-items: center;
}

.logo {
	margin-right: 203px;
}

.main-navigation ul,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
  display: flex;
  margin-top: 7px;
}

.user-navigation {
	margin-left: auto;
}

.main-navigation a,
.user-navigation a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-weight: 500;
}

.main-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:focus,
.user-navigation a:focus {
	color: rgba(0, 0, 0, .3);
}

.main-navigation-active a,
.user-navigation-active a {
	color: #000;
  padding-bottom: 10px;
	border-bottom: 2px solid #fb565a;
}

.main-navigation li {
  margin-right: 46px;
}

.user-navigation-cart {
  position: relative;
  padding-left: 41px;
}

.user-navigation-cart::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  width: 15px;
  height: 15px;
  background: url('../img/cart.svg') center center no-repeat;
  opacity: .3;
}

.slider {
	background-color: #eeeeee;
  position: relative;
  height: 423px;
  margin-bottom: 80px;
}

.slider .container {
  position: relative;
  height: 100%;
}

.slide1 .slider-content {
  width: 380px;
}

.slide2 .slider-content {
  width: 515px;
}

.slide3 .slider-content {
  width: 408px;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide:nth-child(1) {
  background-image: url('../img/slide1.png');
  background-repeat: no-repeat;
  background-position: 432px 10px;
}

.slide:nth-child(2) {
  background-image: url('../img/slide2.png');
  background-repeat: no-repeat;
  background-position: 100% -4px;
}

.slide:nth-child(3) {
  background-image: url('../img/slide3.png');
  background-repeat: no-repeat;
  background-position: 403px 12px;
}

.slide:nth-child(1) {
  display: block;
}

.slide-header {
	font-weight: 500;
	line-height: 55px;
	font-size: 55px;
  margin: 0;
  margin-bottom: 28px;
  margin-top: 70px;
}

.slide-description {
  margin: 0;
  margin-bottom: 39px;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 198px;
    height: 18px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 6px;
    background: white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.slider-controls .active::before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
}

.features .container {
  border-bottom: 2px solid #eee;
  padding-bottom: 79px;
}

.features-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.feature {
	width: 300px;
  margin-right: 59px;
}

.features-image {
  line-height: 0;
}

.features-header {
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 18px;
}

.features-description {
  width: 260px;
  margin-bottom: 32px;
}

.description .container {
	display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
  padding-bottom: 49px;
}

.description-info {
  width: 650px;
  padding-top: 74px;
}

.description-header {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-bottom: 33px;
}

.description-text {
  margin-bottom: 39px;
}

.description-features-header {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.description-features ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.description-features li {
  padding-left: 35px;
  margin-bottom: 24px;
  position: relative;
}

.description-features li::before {
  content: "";
  position: absolute;
  display: block;
  background: #ff4d5e;
  width: 25px;
  height: 2px;
  top: 11px;
  left: 1px;
}

.description-stats {
  width: 360px;
  padding-top: 39px;
}

.description-stats-logo {
  line-height: 0;
  margin-bottom: 37px;
}

.description-stats-description {
  margin: 0;
  margin-bottom: 49px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.description-stats-table-header {
  font-size: 45px;
  font-weight: 700;
  text-align: left;
}

.description-stats-table-header:nth-child(1) sup {
  top: -0.5em;
  left: -3px;
  font-size: 27px;
}

.description-stats-table-header:nth-child(2) {
  padding-left: 12px;
}

.description-stats-table-header:nth-child(2) sup {
  top: -0.5em;
  left: -1px;
  font-size: 27px;
}

.description-stats-table-header:nth-child(3) {
  padding-left: 18px;
}

.description-stats-table-header:nth-child(3) sup {
  top: -0.5em;
  left: -1px;
  font-size: 27px;
}

.description-stats-table-cell {
  font-size: 16px;
  line-height: 18px;
  padding-top: 26px;
}

.description-stats-table-cell:nth-child(2) {
  padding-left: 13px;
}

.description-stats-table-cell:nth-child(3) {
  padding-left: 21px;
}

.projects .container {
  border-bottom: 2px solid #eee;
}

.projects-list {
	margin: 0;
	padding: 0;
  padding-top: 8px;
	list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.projects-item {
  width: 260px;
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*box-shadow: 24px 0px 0px -6px white, 82px 0px 0px -62px #eee;*/
}

.projects-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 56px;
  right: -21px;
  width: 2px;
  height: 52px;
  background: #eee;
}

.projects-item:nth-child(4):after {
  display: none;
  /*box-shadow: 0px 0px 0px 0px black;*/
}

.projects-item a {
  opacity: .2;
}

.projects-item:nth-child(1) a {
  margin-top: 10px;
}

.projects-item:nth-child(4) a {
  margin-top: 4px;
}


.projects-item a:hover {
  opacity: 1;
}

.projects-item a:focus {
  opacity: .1;
}

.page-title h1 {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	background-color: #eeeeee;
}

.catalog-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.filter {
	width: 260px;
}

.products {
	width: 760px;
}

.filter fieldset {
	border: 0;
}

.filter legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter label {
	color: #283136;
	line-height: 20px;
}

.sort-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.sort-type {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.sort-type a {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, .3);
	text-decoration: none;
	text-transform: uppercase;
}

.sort-type a:hover {
	color: rgba(0, 0, 0, .6);
}

.sort-type-active a,
.sort-type a:focus {
	color: #000;
}

.sort-direction {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.catalog-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.catalog-item-info h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog-item-description {
	line-height: 18px;
	color: #666;
}

.pagination-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagination-list a,
.pagination-item-active {
	font-weight: 500;
	color: #000;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	min-width: 50px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #eeeeee;
	text-align: center;
	border-radius: 2px;
}

.pagination-list a:hover,
.pagination-item-active:hover {
	background-color: #dfdfdf;
}

.pagination-list a:focus {
	background-color: #d5d5d5;
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.pagination-item-direction a {
	min-width: 260px;
}

.pagination-item-active {
	border: 3px solid #dbdbdb;
	min-width: 44px;
	background-color: #fff;
}

.footer-map {
  text-align: center;
}

.footer-map .container {
  position: relative;
}

.map-info {
  background: #fff;
  width: 219px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 48px;
  padding-bottom: 48px;
  position: absolute;
  top: -369px;
  left: 0;
  text-align: left;

}

.map-info p {
  margin: 0;
  line-height: 18px;
  margin-bottom: 17px;
}

p.map-info-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

p.map-info-tel {
  margin-bottom: 37px;
}

.footer-bottom {
  padding-top: 62px;
  padding-bottom: 62px;
}

.footer-bottom .container {
	display: flex;
}

.socials {
	margin-right: 127px;
  display: flex;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:focus {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-link:focus path {
  opacity: .3;
}

.footer-description {
  margin-top: 7px;
}

.footer-description p {
  margin: 0;
}

.footer-description-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 8px;
}

