body {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
	background-color: #fb565a;
	display: block;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
	border-radius: 2px;
	font-weight: 500;
}

.button:hover {
	background-color: #e74246;
}

.button:focus {
	background-color: #d7373b;
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.button-features-green {
	background-color: #00ca74;
}

.button-features-green:hover {
	background-color: #00bc6c;
}

.button-features-green:focus {
	background-color: #00aa62;
}

.button-features-yellow {
	background-color: #efc84a;
}

.button-features-yellow:hover {
	background-color: #eab534;
}

.button-features-yellow:focus {
	background-color: #e5a722;
}

.button-submit {
	font: inherit;
	font-weight: 500;
	border: 0;
	color: #000;
	background-color: #eee;
	width: 260px;
}

.button-submit-writeus {
  font: inherit;
  font-weight: 500;
  border: 0;
  width: 260px;
}

.button-submit:hover {
	background-color: #dfdfdf;
}

.button-submit:focus {
	background-color: #d5d5d5;
	outline: 0;
}

.button-slider {
	width: 240px;
}

.button-features {
	width: 160px;
}

.button-catalog {
	width: 200px;
}

.button-feedback {
	width: 219px;
}

.main {
  margin-bottom: 80px;
}

.main-catalog {
  margin-bottom: 60px;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.main-header {
	background-color: #eeeeee;
  padding-top: 50px;
}

.main-header .container {
	display: flex;
  align-items: center;
}

.logo {
	margin-right: 203px;
}

.main-navigation ul,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
  display: flex;
  margin-top: 7px;
}

.user-navigation {
	margin-left: auto;
}

.main-navigation a,
.user-navigation a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-weight: 500;
}

.main-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:focus,
.user-navigation a:focus {
	color: rgba(0, 0, 0, .3);
}

.main-navigation-active a,
.user-navigation-active a {
	color: #000;
  padding-bottom: 10px;
	border-bottom: 2px solid #fb565a;
}

.main-navigation li {
  margin-right: 46px;
}

.user-navigation-cart {
  position: relative;
  padding-left: 41px;
}

.user-navigation-cart::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  width: 15px;
  height: 15px;
  background: url('../img/cart.svg') center center no-repeat;
  opacity: .3;
}

.slider {
	background-color: #eeeeee;
  position: relative;
  height: 423px;
  margin-bottom: 80px;
}

.slider .container {
  position: relative;
  height: 100%;
}

.slide1 .slider-content {
  width: 380px;
}

.slide2 .slider-content {
  width: 515px;
}

.slide3 .slider-content {
  width: 408px;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide:nth-child(1) {
  background-image: url('../img/slide1.png');
  background-repeat: no-repeat;
  background-position: 432px 10px;
}

.slide:nth-child(2) {
  background-image: url('../img/slide2.png');
  background-repeat: no-repeat;
  background-position: 100% -4px;
}

.slide:nth-child(3) {
  background-image: url('../img/slide3.png');
  background-repeat: no-repeat;
  background-position: 403px 12px;
}

.slide:nth-child(1) {
  display: block;
}

.slide-header {
	font-weight: 500;
	line-height: 55px;
	font-size: 55px;
  margin: 0;
  margin-bottom: 28px;
  margin-top: 70px;
}

.slide-description {
  margin: 0;
  margin-bottom: 39px;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 198px;
    height: 18px;
    margin-left: -100px;
    text-align: center;
    z-index: 10;
}

.slider-controls i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 6px;
    background: white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.slider-controls .active::before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
}

.features .container {
  border-bottom: 2px solid #eee;
  padding-bottom: 79px;
}

.features-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.feature {
	width: 300px;
  margin-right: 59px;
}

.features-image {
  line-height: 0;
}

.features-header {
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 18px;
}

.features-description {
  width: 260px;
  margin-bottom: 32px;
}

.description .container {
	display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
  padding-bottom: 49px;
}

.description-info {
  width: 650px;
  padding-top: 74px;
}

.description-header {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-bottom: 33px;
}

.description-text {
  margin-bottom: 39px;
}

.description-features-header {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.description-features ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.description-features li {
  padding-left: 35px;
  margin-bottom: 24px;
  position: relative;
}

.description-features li::before {
  content: "";
  position: absolute;
  display: block;
  background: #ff4d5e;
  width: 25px;
  height: 2px;
  top: 11px;
  left: 1px;
}

.description-stats {
  width: 360px;
  padding-top: 39px;
}

.description-stats-logo {
  line-height: 0;
  margin-bottom: 37px;
}

.description-stats-description {
  margin: 0;
  margin-bottom: 49px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.description-stats-table-header {
  font-size: 45px;
  font-weight: 700;
  text-align: left;
}

.description-stats-table-header:nth-child(1) sup {
  top: -0.5em;
  left: -3px;
  font-size: 27px;
}

.description-stats-table-header:nth-child(2) {
  padding-left: 12px;
}

.description-stats-table-header:nth-child(2) sup {
  top: -0.5em;
  left: -1px;
  font-size: 27px;
}

.description-stats-table-header:nth-child(3) {
  padding-left: 18px;
}

.description-stats-table-header:nth-child(3) sup {
  top: -0.5em;
  left: -1px;
  font-size: 27px;
}

.description-stats-table-cell {
  font-size: 16px;
  line-height: 18px;
  padding-top: 26px;
}

.description-stats-table-cell:nth-child(2) {
  padding-left: 13px;
}

.description-stats-table-cell:nth-child(3) {
  padding-left: 21px;
}

.projects .container {
  border-bottom: 2px solid #eee;
}

.projects-list {
	margin: 0;
	padding: 0;
  padding-top: 8px;
	list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.projects-item {
  width: 260px;
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*box-shadow: 24px 0px 0px -6px white, 82px 0px 0px -62px #eee;*/
}

.projects-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 56px;
  right: -21px;
  width: 2px;
  height: 52px;
  background: #eee;
}

.projects-item:nth-child(4):after {
  display: none;
  /*box-shadow: 0px 0px 0px 0px black;*/
}

.projects-item a {
  opacity: .2;
}

.projects-item:nth-child(1) a {
  margin-top: 10px;
}

.projects-item:nth-child(4) a {
  margin-top: 4px;
}


.projects-item a:hover {
  opacity: 1;
}

.projects-item a:focus {
  opacity: .1;
}

.page-title h1 {
  margin: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	background-color: #eeeeee;
  padding-bottom: 108px;
  padding-top: 71px;
}

.catalog-wrapper .container {
	display: flex;
	justify-content: space-between;
  padding-top: 55px;
}

.filter {
	width: 261px;
}

.products {
	width: 760px;
}

.filter fieldset {
	border: 0;
  margin: 0;
  padding: 0;
}

.filter legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
  letter-spacing: 1px;
}

.filter label {
	color: #283136;
	line-height: 20px;
}

.filter-price legend {
  margin-bottom: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background: #f1f1f1;
  margin-bottom: 15px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 161px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input {
  font-size: 16px;
  text-align: center;
  color: #283136;
  width: 60px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  margin-left: 10px;
}

.max-price {
  text-align: right;
}

fieldset.filter-price {
  margin-bottom: 53px;
}

.filter label {
  position: relative;
}

.filter input + label {
  padding-left: 37px;
  cursor: pointer;
}

.filter input + label::before {
  content: "";
  display: block;
  position: absolute;
  opacity: .4;
  background-repeat: no-repeat;
  background-position: center center;
}

.filter input[type="radio"] + label::before {
  background-image: url('../img/radio-off.svg');
  top: -4px;
  left: 3px;
  width: 25px;
  height: 25px;
}

.filter input + label:hover::before {
  opacity: 1;
}

.filter input:disabled + label::before {
  opacity: .1;
}

.filter input[type="radio"]:checked + label::before {
  background-image: url('../img/radio-on.svg');
}

fieldset.filter-grid {
  margin-bottom: 25px;
}

.filter input[type="checkbox"] + label::before {
  background-image: url('../img/checkbox-off.svg');
  top: -4px;
  left: 1px;
  width: 23px;
  height: 23px;
}

.filter input[type="checkbox"]:checked + label::before {
  background-image: url('../img/checkbox-on.svg');
  width: 27px;
  height: 23px;
}

fieldset.filter-features {
  margin-bottom: 30px;
}

.sort {
  display: flex;
  margin-bottom: 54px;
}

.sort-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
  margin: 0;
  margin-left: 3px;
  margin-top: 2px;
}

.sort-type {
	margin: 0;
	padding: 0;
	list-style-type: none;
  display: flex;
  margin-left: auto;
}

.sort-type a {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, .3);
	text-decoration: none;
	text-transform: uppercase;
}

.sort-type li {
  margin-right: 27px;
}

.sort-type a:hover {
	color: rgba(0, 0, 0, .6);
}

.sort-type-active a,
.sort-type a:focus {
	color: #000;
}

.sort-direction {
  display: flex;
  margin-top: 7px;
}

.sort-direction-link {
  width: 0;
  height: 0;
  font-size: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 18px;
  opacity: .2;
}

.sort-direction-link-asc {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #a6a6a6;
}

.sort-direction-link-asc:hover {
  border-top-color: #a6a6a6;
  opacity: 1;
}

.sort-direction-link-asc:focus,
.sort-direction-link-active.sort-direction-link-asc {
  border-top-color: #000;
  opacity: 1;
}

.sort-direction-link-desc {
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #a6a6a6;
}

.sort-direction-link-desc:hover {
  border-bottom-color: #a6a6a6;
  opacity: 1;
}

.sort-direction-link-desc:focus,
.sort-direction-link-active.sort-direction-link-desc {
  border-bottom-color: #000;
  opacity: 1;
}

.catalog-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 27px;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 33px;
}

.catalog-item img {
  vertical-align: bottom;
}

.catalog-item:before {
  content: '';
  display: block;
  height: 40px;
  background: url('../img/project-header.svg');
  opacity: .12;
}

.catalog-item:hover:before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-info {
  display: block;
}

.catalog-item-info {
  display: none;
  position: absolute;
  width: 360px;
  min-height: 231px;
  background: #eee;
  text-align: center;
  bottom: 0;
  left: 0;
}

.catalog-item:hover .catalog-item-info {
  display: block;
}

.catalog-item-info .button-catalog {
  margin: 0 auto;
}

.catalog-item-info h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 15px;
}

.catalog-item-description {
	line-height: 18px;
	color: #666;
  width: 240px;
  max-height: 54px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.pagination-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
  display: flex;
}

.pagination-item {
  margin-right: 12px;
}

.pagination-list a,
.pagination-item-active {
	font-weight: 500;
	color: #000;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	min-width: 50px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #eeeeee;
	text-align: center;
	border-radius: 2px;
}

.pagination-list a:hover,
.pagination-item-active:hover {
	background-color: #dfdfdf;
}

.pagination-list a:focus {
	background-color: #d5d5d5;
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.pagination-item-direction a {
	min-width: 260px;
}

.pagination-item-active {
	border: 3px solid #dbdbdb;
	min-width: 44px;
	background-color: #fff;
  padding-bottom: 10px;
}

.footer-map {
  text-align: center;
}

.footer-map .container {
  position: relative;
}

.map-info {
  background: #fff;
  width: 219px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 48px;
  padding-bottom: 48px;
  position: absolute;
  top: -369px;
  left: 0;
  text-align: left;

}

.map-info p {
  margin: 0;
  line-height: 18px;
  margin-bottom: 17px;
}

p.map-info-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

p.map-info-tel {
  margin-bottom: 37px;
}

.footer-bottom {
  padding-top: 62px;
  padding-bottom: 62px;
}

.footer-bottom .container {
	display: flex;
}

.socials {
	margin-right: 127px;
  display: flex;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:focus {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-link:focus path {
  opacity: .3;
}

.footer-description {
  margin-top: 7px;
}

.footer-description p {
  margin: 0;
}

p.footer-description-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 8px;
}

.modal {
  position: fixed;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
}

.modal-close {
  position: absolute;
  top: 76px;
  right: 89px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  top: 9px;
  left: -2px;
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #fb565a;
  opacity: .3;
}

.modal-close:hover::before,
.modal-close:hover::after {
  opacity: 1;
}

.modal-close:focus::before,
.modal-close:focus::after {
  opacity: .1;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-writeus {
  left: 50%;
  top: 120px;
  background-color: #fff;
  width: 760px;
  margin-left: -480px;
  padding-bottom: 84px;
  padding-top: 66px;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 11;
  display: none;
}

.modal-writeus p {
  margin: 0;
}

.modal-writeus h2 {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 41px;
}

.modal-writeus label {
  display: block;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 9px;
}

.modal-writeus input {
  box-sizing: border-box;
  font: inherit;
  width: 360px;
  border-width: 1px;
  border-style: solid;
  border-color: #d7dcde;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
}

.modal-writeus textarea {
  box-sizing: border-box;
  font: inherit;
  width: 100%;
  height: 118px;
  border-width: 1px;
  border-style: solid;
  border-color: #d7dcde;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 12px;
  border-radius: 5px;
  resize: none;
}

.modal-writeus input.has-error,
.modal-writeus textarea.has-error {
  color: #e74246;
  border-color: #e74246;
}

.modal-writeus input:hover,
.modal-writeus textarea:hover {
  border-color: #b4b9bb;
}

.modal-writeus input:focus,
.modal-writeus textarea:focus {
  border-color: #000;
  outline: none;
  color: #444444;
}

.modal-writeus .fields-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}


.modal-writeus .comment-field {
  margin-bottom: 40px;
}

.modal-writeus input::-webkit-input-placeholder,
.modal-writeus textarea::-webkit-input-placeholder {
  color: #444444;
  opacity: .5;
}
